{% extends 'base.html'%}
{% block titulo %} Cadastro de Contratado{% endblock %}
{% block conteudo%}
	<form method='POST'>
	   {% csrf_token %}      
		<h1 class="ui header"> Cadastro de Contratado</h1>
		<div class="ui form">
            <div class="field">
                <label>Projeto</label>
                {{form.projeto}}
                {% if form.projeto.errors %}
                    <div class="ui red pointing label">
                        {{ form.projeto.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Aluno</label>
                    {{form.aluno}}
                    {% if form.aluno.errors %}
                        <div class="ui red pointing label">
                            {{ form.aluno.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Bolsista</label>
                    <select name="bolsa" required>
                        <option value="">Selecione</option>
                        <option value="True">Sim</option>
                        <option value="False">Não</option>
                    </select>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Data de início</label>
                    {{form.dt_inicio}}
                    {% if form.dt_inicio.errors %}
                        <div class="ui red pointing label">
                            {{ form.dt_inicio.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Data de Término</label>
                    {{form.dt_termino}}
                    {% if form.dt_termino.errors %}
                        <div class="ui red pointing label">
                            {{ form.dt_termino.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
		    <input type="submit" class="ui submit button direita verde_escuro"/>	
		</div>
	</form>
{%endblock%}




