{% extends 'base.html'%}
{% block titulo %} Cadastro de Recursos{% endblock %}
{% block conteudo%} 
	<form method='POST' enctype=" multipart/form-data">
        {% csrf_token %}           
        <h1 class="ui header">Cadastro de Recursos</h1>
        <div class="ui large form">
         <div class="two fields">
		    <div class="field">
		        <label>Nome</label>
		        {{form.nome}}
		        {% if form.nome.errors %}
		        	<div class="ui red pointing label">
		            	{{ form.nome.errors }}
		            </div>
		        {% endif %}
		    </div>
		    <div class="field">
		        <label>Código</label>
		        {{form.codigo}}
		        {% if form.codigo.errors %}
		            <div class="ui red pointing label">
		                {{ form.codigo.errors }}
		            </div>
		        {% endif %}
				</div>
		    </div>
		    <div class="field">
		        <label>tipo</label>
		        {{form.tipo}}
		        {% if form.tipo.errors %}
		        	<div class="ui red pointing label">
		            	{{ form.tipo.errors }}
		            </div>
		        {% endif %}
		    </div>
            <div class="field">
                <label>Descrição</label>
                {{form.descricao}}
                {% if form.descricao.errors %}
                 	<div class="ui red pointing label">
                   		{{ form.descricao.errors }}
                 	</div>
                {% endif %}
            </div>
	        <input type="submit" value="Enviar" class="ui submit button direita verde_escuro"/>
	    </div>
	</form>
{% endblock %}