{% extends 'base.html'%}
{% block titulo %} Cadastro de Edital{% endblock %}
{% block conteudo%}
	<form method='POST'>
	   {% csrf_token %}      
		<h1 class="ui header"> Cadastro de Edital</h1>
		<div class="ui form">
            <div class="field">
                <label>Número</label>
                {{form.numero}}
                {% if form.numero.errors %}
                    <div class="ui red pointing label">
                        {{ form.numero.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="field">
                <label>Orgão Concedente</label>
                {{form.orgao_concedente}}
                {% if form.orgao_concedente.errors %}
                    <div class="ui red pointing label">
                        {{ form.orgao_concedente.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Verba</label>
                    {{form.verba}}
                    {% if form.verba.errors %}
                        <div class="ui red pointing label">
                            {{ form.verba.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Bolsas Cedidas</label>
                    {{form.qtd_bolsa}}
                    {% if form.qtd_bolsa.errors %}
                        <div class="ui red pointing label">
                            {{ form.qtd_bolsa.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Data de Início</label>
                    {{form.dt_inicio}}
                    {% if form.dt_inicio.errors %}
                        <div class="ui red pointing label">
                            {{ form.dt_inicio.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Data de Término</label>
                    {{form.dt_termino}}
                    {% if form.dt_termino.errors %}
                        <div class="ui red poidt_terminonting label">
                            {{ form.dt_termino.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
		    <input type="submit" class="ui submit button direita verde_escuro"/>	
		</div>
	</form>
{%endblock%}




