{% extends 'base.html'%}
{% block titulo %} Cadastro de Projeto{% endblock %}
{% block conteudo%} 
<form class="ui form" method='POST'>
    {% csrf_token %}
    <h1 class="ui header"> Cadastro de Projeto</h1>
        <div class="field">
            <label>Nome do Projeto</label>
            {{form.nome}}
            {% if form.nome.errors %}
                 <div class="ui red pointing label">
                    {{ form.nome.errors }}
                 </div>
            {% endif %}
        </div>
        <div class="two fields">
            <div class="field">
                <label>Coordenador</label>
                {{form.coordenador}}
                {% if form.coordenador.errors %}
                    <div class="ui red pointing label">
                        {{ form.coordenador.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="field">
                <label>Professores Auxiliares</label>
                {{form.cliente}}
                {% if form.participante.errors %}
                 <div class="ui red pointing label">
                    {{ form.participante.errors }}
                 </div>
                {% endif %}
            </div>
        </div>
        <div class="two fields">
            <div class="field">
                <label>Cliente</label>
                {{form.cliente}}
                {% if form.cliente.errors %}
                    <div class="ui red pointing label">
                        {{ form.cliente.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="field">
                <label>Edital</label>
                {{form.cliente}}
                {% if form.edital.errors %}
                 <div class="ui red pointing label">
                    {{ form.edital.errors }}
                 </div>
                {% endif %}
            </div>
        </div>
        <div class="field">
            <label>Bolsistas</label>
            {{ form.bolsista }}
            {% if form.bolsista.errors %}
             <div class="ui red pointing label">
                {{ form.bolsista.errors }}
             </div>
            {% endif %}
        </div>
        <div class="two fields">
            <div class="field">
                <label>Data de Início</label>
                {{form.data_inicio}}
                {% if form.data_inicio.errors %}
                    <div class="ui red pointing label">
                        {{ form.data_inicio.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="field">
                <label>Data de fim</label>
                {{form.data_termino}}
                {% if form.data_termino.errors %}
                 <div class="ui red pointing label">
                    {{ form.data_termino.errors }}
                 </div>
                {% endif %}
            </div>
        </div>
        <input type="submit" class="ui submit button direita verde_escuro"/>   
    </div>
</form>
{%endblock%}