
{{% extends 'base.html'%}
{% block titulo %} Consulta Usuario{% endblock %}
{% block conteudo%} 
{% if user.is_superuser %}
<div class="ui segment margim">
 	<div class="ui grid">
        <div class="three wide column"></div>
        <div class="ten wide column"> 
			<h2 class=" ui header">Consulta Usuario</h2>
			<form method='POST' action='/ConsultaLivro/' class="ui form">
             	{% csrf_token %}
             	<div class="ui field">
				</div>
			</form>
				<table class="ui celled table">
					<thead>
						<tr>
						    <th>Nome</th>
						    <th>Desbloqueado</th>
						    <th>Usuario</th>
						    <th>Verificado</th>
						    <th>Codigo</th>
						</tr>	
					</thead>
					<tbody>
						{% for usuario in usuarios %}
					    <tr>	 
						   	<td>{{ usuario.first_name }} {{ usuario.last_name }} </td>
						   	<td>{{usuario.is_active}}</td>
						   	<td>{{usuario.username}}</td>
						   	<td>{{usuario.verificado}}</td>
						   	{% if user.is_superuser %}   	 
						   	<td><a href="http://127.0.0.1:8080/liberar_usuario/{{usuario.verificacao}}"><i class="remove icon red large"></i>link text</a></td>
						   	{%endif%}
					    </tr>
			    		{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	

{%endif%}
	Somente Administrador
{%endblock%}