<html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'semantic/semantic.css'%}" />
        <link rel="stylesheet" href="{% static 'semantic/base.css'%}" />
        <title>{%block titulo%}{%endblock%}</title>
    </head>
    <body class="verde">
        <header class="cabecalho">
            <div class="ui grid">
                <div class="row"> 
                    <div class='five wide column'>
                        <h1 class="branco letra"><img src="{% static 'semantic/blueprint.png'%}" class="branco"> PROJETOS</h1>
                    </div>
                </div>
            </div>
        </header>         
        <article class"corpo">
            <div clas="row">
                {% if user.is_authenticated %}
                    <div>
                        <nav>
                            <ul>
                                <li><a href="#">Usuário</a>
                                    <ul>
                                        <li><a href="/usuario/cadastro.html" class="item branco"><i class="block layout icon branco"></i>Cadastrar</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Horário</a>
                                    <ul>
                                        <li><a href="/horario/cadastro.html" class="item branco"><i class="user icon branco"></i>Cadastrar</a></li>
                                    </ul>
                                </li>
                                <li class="direita"><a href="/logout" class="item direita"><i class="sign out icon"></i>Sair
                                 </a></li>
                            </ul>
                        </nav>
                    </div>
                {% endif %}
            </div>
            <div class="ui segment cinza">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column"></div>
                        <div class="ten wide column">       
                            {%block conteudo%}
                            {%endblock%}
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <footer class="ui grid">
            <div class="sixteen wide column">
                <div class="ui small images verde">
                    <img  id="icone" src="{% static 'semantic/fabrica.png'%}">
                    <img  class="d" id="icone" src="{% static 'semantic/ifc2.png'%}">
                </div> 
            </div>
        </footer>
    </body>
</html>
