<!DOCTYPE html>
    <head>
        {% load staticfiles %}
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="{% static 'semantic/semantic.css'%}" />
        <link rel="stylesheet" href="{% static 'semantic/base.css'%}" />
        <title>{%block titulo%}{%endblock%}</title>
    </head>
    <body class="verde">
        <header class="cabecalho">
        <div class="ui grid">
            <div class="row"> 
                <div class='five wide column'>
                    <h1 class="branco letra"><img src="{% static 'semantic/blueprint.png'%}" class="branco"> PROJETOS</h1>
                </div>
                    <div class="ui segment cinza">
                        <div class='logout sair'>
                            <a href="/logout" class="item"><i class="sign out icon"></i>Sair
                             </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>         
        <article class"corpo">
            <nav>
                <ul>
                    <li><a href="#">Projeto</a>
                        <ul>
                            <li><a href="/projeto/cadastro.html" class="item branco"><i class="block layout icon branco"></i>Cadastrar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Professor</a>
                        <ul>
                            <li><a href="/professor/cadastro.html" class="item branco"><i class="user icon branco"></i>Cadastrar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Aluno</a>
                        <ul>
                            <li><a href="/aluno/cadastro.html" class="item branco"><i class="users icon branco"></i>Cadastrar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Núcleo</a>
                        <ul>
                            <li><a href="/nucleo/cadastro.html" class="item branco"><i class="block layout icon branco"></i>Cadastrar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Edital</a>
                        <ul>
                            <li><a href="/edital/cadastro.html" class="item branco"><i class="newspaper icon branco"></i>Cadastrar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Graduação</a>
                        <ul>
                            <li><a href="/graduacao/cadastro.html" class="item branco"><i class="student icon branco"></i>Cadastrar</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contratado</a>
                        <ul>
                            <li> <a href="/contratado/cadastro.html" class="item branco"><i class="desktop icon branco"></i>Cadastrar</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <div class="ui segment cinza">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column"></div>
                        <div class="ten wide column">       
                            {%block conteudo%}
                            {%endblock%}
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <footer class="ui grid">
            <div class="sixteen wide column">
                <div class="ui small images verde">
                    <img  id="icone" src="{% static 'semantic/fabrica.png'%}">
                    <img  class="d" id="icone" src="{% static 'semantic/ifc2.png'%}">
                </div> 
            </div>
        </footer>
    </body>
</html>
