{% extends 'base.html'%}
{% block titulo %}Troca a senha{% endblock %}
{% block conteudo%} 
<div class='ui centered grid'>
	<div class='two column centered row'>
		<div class='ui column'>
			<form method='POST' enctype=" multipart/form-data">
				{% csrf_token %}  
		        {{form.erros}}  
				<div class="ui large form">
		            <div class="field">
						<h1 class="ui header">Troca Senha </h1>
						<div class="ui large form">
							<label for="">Senha anterior</label>
								{{form.old_password}}
							<label for="">Nova senha</label>
								{{form.new_password1}}
							<label for="">Confirmar Senha</label>
								{{form.new_password2}}
						</div>
					</div>
					<input type="submit" class="ui submit button direita verde_escuro">
				</div>				
			</form>
		</div>
	</div>
</div>
{%endblock%}