{% extends 'base.html'%}
{% block titulo %} 	 Visualizar Recurso {% endblock %}
{% block conteudo %}
{% if user.is_superuser %}
			
<div class="ui segment form">
	<h2 class="ui header">Informações do Projeto</h2>
	<div class="two fields">
		<div class="field">
			<label>Código</label>
			{{recurso.codigo}}
		</div>
		<div class="field">
			<label>Nome</label>
			{{recurso.nome}}
		</div>
	</div>
	<div class="two fields">
		<div class="field">
			<label>Tipo</label>
				{{recurso.tipo}}
		</div>
		<div class="field">
			<label>Descrição</label>
			{{recurso.descricao}}
		</div>
	</div>
	<a href='/consulta_projeto/'><button class='ui red button'>Voltar</button></a>
	<a href='/editar_recurso/{{recurso.id}}'><button class="ui button direita verde_escuro">Editar </button></a>
</div>
{%endif%}
{% endblock %}