/********************Definições gerais*************************/
.centro{
	padding-left:8% !important;
}
.direita{
	float: right;
}

.ui.grid{
	margin:0 !important;
	padding:0 !important;
 }
.cabecalho{
	min-height: 16% !important;
	color: #005e83 !important;
}
.cabecalho .grid{
	margin:0 !important;
	padding:0 !important;
}
.corpo{
	min-height: 64.9% !important;
}
.rodape{
	min-height: 11% !important;
}

article{
	margin: 0 !important;
}

/********************Definições cores*************************/
.red{
	background-color: #B63333 !important;
}

.verde_escuro{
	background:#005e83 !important;
	color:#FFFFFF !important;
}

/********************Definições menu*************************/
.row-menu{
	margin: 0 !important;
	padding: 0 !important;
}

.item{
	color:#fff !important;

}

.ui.large.menu .item {
  font-size: 1.3rem !important;
}

.item .submenu{
	display:none !important;
}

.item:hover > .submenu{
	display: inline-block !important;
}

.submenu{
	padding: 0;
	position: absolute;
	top: 100%;
	z-index: 999;
	background-color: #005e83;
}

.submenu i{
	width: 30px !important;
}

.layout.block{ margin-right: -6px !important;}
.submenu i, .submenu a {
	display: inline-flex !important;
}
.item{
	cursor: pointer;
}

/********************Definições de form*************************/


label{font-size: 1.125em !important;}

input{
	  border-color: #005E83 !important;
}
input:active, input:focus{
background-color:rgba(0, 94, 131, 0.2) !important
}

input.verde_escuro{
	background-color: #2E9447 !important;
}



.errorlist li{
	list-style: none;
	padding:0;
	margin:0;
}
/********************Definições de qualquer coisa que eu nao sei o que é*************************/

.ui.pointing.label{
	font-size: 100%;
	padding:0%;
}
#icone{
	margin-top: 2% !important;
}
