.verde{
		background-color: #289191 !important;
}
.d{

	float:right;
}
.verde_escuro{
	background:#267a7a !important;
	color:#FFFFFF !important;
}
.branco{
	color:#FFFFFF !important;
}
.cinza{

	background: #d6d6d6 !important;
}
.black{
	background: #2E2E2E  !important;

}
.cor{
	background:#4c0909 !important;
}

.ui.grid{
	margin:0 !important;
	padding:0 !important;
 }
.cabecalho{
	min-height: 10%;
}
.corpo{
	min-height: 80%;
}
.rodape{
	min-height: 5%;
}
#icone{
	margin-top: 2% !important;
}
.logout{
	font-size: 20px;
}
.centro{
	float:center;
}
.direita{
	float: right;
}
.sair{
	float: right;
}
.fonte{
	font-size: 18px;
}
.laranja{
	color: #ec7221;
}
.projetos{
	color:#0e4142;
}
.letra{
	font-family: Purisa;
	text-shadow: 0 1px 0 #ccc,
}
.menu{
	margin-top: 0%;
}


nav ul ul {
	display: none;
	z-index:1;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #267a7a ;
	padding: 0 20px;
	list-style: none;
	position: relative;
}
nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
nav ul li:hover {
	background: #007D82;
}
nav ul li:hover a {
	color: #fff;
}
		
nav ul li a {
	display: block;
	padding: 16px 40px;
	color: #FFFFFF;
	text-decoration: none;
}
			
nav ul ul {
	background: #007D7B;
	padding: 0;
	position: absolute;
	top: 100%;
}
nav ul ul li {
	float: none;
	border-top: 1px solid #009491;
	border-bottom: 1px solid #007D7B;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #004847;
}
		
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}

/*.segment{
	z-index:-1;

}*/