/********************Definições gerais*************************/

.direita{
	float: right;
}

.ui.grid{
	margin:0 !important;
	padding:0 !important;
 }
.cabecalho{
	min-height: 20% !important;
}
.cabecalho .grid{
	margin:0 !important;
	padding:0 !important;
}
.corpo{
	min-height: 63% !important;
}
.rodape{
	min-height: 18% !important;
}
.titulo{
	font-family: Purisa;
	text-shadow: 0 1px 0 #ccc,
}

article{
	margin: 0 !important;
}

/********************Definições cores*************************/

.cor-fundo{
		background-color: #289191 !important;
}
.verde_escuro{
	background:#267a7a !important;
	color:#FFFFFF !important;
}
.branco{
	color:#FFFFFF !important;
	font-size: 18px;
}
.cor-conteudo{

	background: #d6d6d6 !important;
}



/********************Definições menu*************************/
.row-menu{
	margin: 0 !important;
	padding: 0 !important;
}


nav li{
	list-style-type: none;
	margin:0;
	padding:0;
	font-size: 16px !important;
}

nav ul ul {
	display: none;
	z-index:1;
}

nav ul li:hover > ul {
	display: block;
}

nav ul {
	background: #267a7a ;
	padding: 0 20px;
	list-style: none;
	position: relative;
}
nav ul:after {
	content: ""; clear: both; display: block;
}

nav ul li {
	float: left;
}
nav ul li:hover {
	background: #007D82;
}
nav ul li:hover a {
	color: #fff;
}
		
nav ul li a {
	display: block;
	padding: 16px 40px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 16px !important;
}
			
nav ul ul {
	background: #007D7B;
	padding: 0;
	position: absolute;
	top: 100%;
}
nav ul ul li {
	border-top: 1px solid #009491;
	border-bottom: 1px solid #007D7B;
	position: relative;
}
nav ul ul li a {
	padding: 15px 40px;
	color: #fff;
}	
nav ul ul li a:hover {
	background: #004847;
}
		
nav ul ul ul {
	position: absolute; left: 100%; top:0;
}


/********************Definições logout*************************/

.logout{
	font-size: 20px;
}

/********************Definições de qualquer coisa que eu nao sei o que é*************************/


