.vermelho{
		background-color: #913030 !important;
}
.direita{

	float:right;
}
.verde_escuro{
	background:#289191 !important;
	color:#FFFFFF !important;
}
.branco{
	color:#FFFFFF !important;
}
.cinza{

	background: #dbc9c9 !important;
}
.black{
	background: #2E2E2E  !important;

}
.cor{
	background:#4c0909 !important;
}


/*.footer {
	position:absolute;
	bottom:0;
	width:100%;
}*/
.ui.grid{
	margin:0 !important;
	padding:0 !important;
 }
.cabecalho{
	min-height: 10%;
}
.corpo{
	min-height: 80%;
}
.rodape{
	min-height: 10%;
}
#icone{
	margin-top: 2% !important;
}
.logout{
	font-size: 20px;
}