{% extends 'base.html'%}
{% block titulo %} Cadastro de Coordenador{% endblock %}
{% block conteudo%}
	<form method='POST'>
	   {% csrf_token %}      
		<h1 class="ui header"> Cadastro de Coordenador</h1>
		<div class="ui form">
			<div class="field">
				<label>Nome</label>
				{{form.first_name}}
			</div>
			<div class="two fields">
				<div class="field">
					<label>Graduação</label>
					{{form.graduacao}}
				</div>
				<div class="field">
					<label>SIAPE</label>
					{{form.siape}}
				</div>
            </div>
            <div class="two fields">
				<div class="field">
					<label>RG</label>
					{{form.rg}}
				</div>
				<div class="field">
					<label>CPF</label>
						{{form.cpf}}
				</div>
            </div>
            <div class="three fields">
				<div class="field">
					<label>Usuário</label>
					{{form.username}}
				</div>
				<div class="field">
					<label>Senha</label>
					{{form.password}}
				</div>
				<div class="field">
					<label>Confirmar Senha</label>
						{{form.confirma_senha}}
				</div>
			</div>
			<input type="submit" class="ui submit button direita verde_escuro"/>	
		</div>
	</form>
{%endblock%}




