{% extends 'base.html'%}
{% block titulo %} Cadastro de Professor{% endblock %}
{% block conteudo%}
	<form method='POST'>
	    {% csrf_token %}      
	    <h1 class="ui header"> Cadastro de Professor</h1>
	    <div class="ui form">
			<div class="field">
                <label>Nome</label>
                {{form.first_name}}
                {% if form.first_name.errors %}
                    <div class="ui red pointing label">
                        {{ form.first_name.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="two fields">
                <div class="field">
                    <label>RG</label>
                    {{form.rg}}
                    {% if form.rg.errors %}
                        <div class="ui red pointing label">
                            {{ form.rg.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>CPF</label>
                    {{form.cpf}}
                    {% if form.cpf.errors %}
                        <div class="ui red pointing label">
                            {{ form.cpf.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Data de Nascimento</label>
                    {{form.dt_nascimento}}
                    {% if form.dt_nascimento.errors %}
                        <div class="ui red pointing label">
                            {{ form.dt_nascimento.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Sexo</label>
                    {{form.sexo}}
                    {% if form.sexo.errors %}
                        <div class="ui red pointing label">
                            {{ form.sexo.errors }}
                        </div>
                    {% endif %}
                </div>
             </div>

            <div class="field">
                <label>Rua</label>
                {{form.rua}}
                {% if form.rua.errors %}
                    <div class="ui red pointing label">
                        {{ form.rua.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Número</label>
                    {{form.numero}}
                    {% if form.numero.errors %}
                        <div class="ui red pointing label">
                            {{ form.numero.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Complemento</label>
                    {{form.complemento}}
                    {% if form.complemento.errors %}
                        <div class="ui red pointing label">
                            {{ form.complemento.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Bairro</label>
                    {{form.bairro}}
                    {% if form.bairro.errors %}
                        <div class="ui red pointing label">
                            {{ form.bairro.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Cidade</label>
                    {{form.cidade}}
                    {% if form.cidade.errors %}
                        <div class="ui red pointing label">
                            {{ form.cidade.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Estado</label>
                    {{form.estado}}
                    {% if form.estado.errors %}
                        <div class="ui red pointing label">
                            {{ form.estado.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="two fields">
             	<div class="field">
                    <label>CEP</label>
                    {{form.cep}}
                    {% if form.cep.errors %}
                        <div class="ui red pointing label">
                            {{ form.cep.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Telefone</label>
                    {{form.telefone}}
                    {% if form.telefone.errors %}
                 	    <div class="ui red pointing label">
                            {{ form.telefone.errors }}
                 	    </div>
                    {% endif %}
                </div>
            </div>
			<div class="two fields">
				<div class="field">
					<label>Graduação</label>
					{{form.graduacao}}
					{% if form.graduacao.errors %}
                        <div class="ui red pointing label">
                            {{ form.graduacao.errors }}
                        </div>
                    {% endif %}
				</div>
				<div class="field">
					<label>SIAPE</label>
					{{form.siape}}
					{% if form.siape.errors %}
                        <div class="ui red pointing label">
                            {{ form.siape.errors }}
                        </div>
                    {% endif %}
				</div>
            </div>
         	<div class="two fields">
                <div class="field">
                    <label>Usuário</label>
                    {{form.username}}
                    {% if form.username.errors %}
                        <div class="ui red pointing label">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>E-mail</label>
                    {{form.email}}
                    {% if form.email.errors %}
                        <div class="ui red pointing label">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Senha</label>
                    {{form.password}}
                    {% if form.password.errors %}
                        <div class="ui red pointing label">
                            {{ form.password.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="field">
                    <label>Confirmar Senha</label>
                    {{form.confirma_senha}}
                    {% if form.confirma_senha.errors %}
                        <div class="ui red pointing label">
                            {{ form.confirma_senha.errors }}
                        </div>
                    {% endif %}
                </div>
            </div>
		    <input type="submit" class="ui submit button direita verde_escuro"/>	
		</div>
	</form>
{%endblock%}




